     <style>
      body {
     
      }
      body{
        background: url(../images/strw\ hat.jpg);
        background-repeat: no-repeat;
        background-size: 1400px 594px ;
        background-attachment: fixed;
        
      }
      p {
        
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bolder ;
        color: aliceblue;
      }
      img {
        width: 200px;
        border-radius: 10px;
        float: right;
        margin-right: 0px;
      }
      .op{
        width: 300px;
        box-shadow: 0px 0px 30px rgb(183, 0, 255) ;
        margin-left: 10px;
       
      }
     

      .sw{
        width: 250px;
        box-shadow: 0px 0px 30px rgb(123, 255, 0);
        margin-left: 10px;
      }
      .gg {
        width: 100px;
        box-shadow: 0px 0px 30px rgb(252, 143, 1);
        margin-left: 10px;
      }
      .og {
        width: 100px;
        box-shadow: 0px 0px 30px rgba(0, 183, 255, 0.342);
        margin-left: 10px;
      }
      .ep {
        width: 500px;
        border-radius: 50px;
        float: inline-start;
        box-shadow: 0px 0px 30px rgb(128, 128, 128);
      }
      .fm {
        box-shadow: 0px 0px 30px rgb(0, 204, 255);
        margin-left: 10px;
      }
      .dm{
        box-shadow: 0px 0px 30px rgb(255, 217, 0);
        margin-left: 10px;
      }
      .sus{
        box-shadow: 0px 0px 30px rgb(167, 182, 248);
        margin-left: 10px;
      }
      .tie{
        box-shadow: 0px 0px 30px rgb(72, 134, 21);
        margin-left: 10px;
      }
      .ad {
        box-shadow: 0px 0px 30px rgb(248, 183, 42);
        margin-left: 10px;
      }
      .git {
        box-shadow: 0px 0px 30px rgb(245, 42, 42);
        margin-left: 10px;
      }
      .kp {
        font-style: italic;
        color: rgb(0, 0, 0);
        font-size: 200%;
        align-items: center;
        margin-left: 36vw;
        background: linear-gradient( to right, rgb(155, 78, 243), rgb(236, 116, 79), tomato);
        width: 23vw;
        border-radius: 10px;
        box-shadow: 0px 0px 30px rgb(204, 0, 255);
        margin-top: 67px;
        flex-shrink: 1;
        transition: transform 1.5s;
        
      

      }
      .kp:hover{
        transform: scale(2);

      }
     
      .username {
        color: rgb(175, 193, 247);
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
      }
      .fps {
        width: 7rem;
        align-items: center;
        background: rgb(34,193,195);
        background: linear-gradient(23deg, rgba(34,193,195,1) 10%, rgba(253,187,45,1) 100%);   
        border-radius: 70px;
        box-shadow: 0px 0px 30px rgb(0, 255, 191);
        transition: transform 1.5s;

      }
      .fps:hover{
        transform: scale(1.2);

      }

      @media screen and (max-width: 768px) {
     
        body{
          margin: 0;
          height: 200vh;
          padding-bottom: 90px;
        }
      }
      @media screen and (min-width: 768px) {
         body{
        margin: 90px;
        height: 200vh;
        padding-bottom: 90px;
      }
      }
     
      a:visited {
        color: rgb(0, 110, 87);
      }
      a:hover, a:focus {
        color:rgb(255, 0, 0) ;
        transition: color 0.5s;

      }
      a{
        color: #5888e0;
      }
      ::selection {
        background-color: aqua;
      }
      p::after {
      content: "...";
      }
      .nav {
      background: #3a3a3a;
      justify-content: space-between;
      word-spacing: 10px;
      font-size: x-large;
      }
      .nav__list {
        width: auto;
        display: flex;
        

      }  
      .nav__items{
        display: flex;
        direction: inherit ;
      color: aqua;
        
      }
      li{
        display: unset;
        align-items: center;
      }
      footer {
        background-color: #333;
        color: #fff;
        text-align: center;
        padding: 20px ;
       
        bottom: 0;
        width: 100%;
       margin-top: 40px;
       height: 100px;
    }
   
    .image {
      filter: brightness(50%); /* Adjust the brightness percentage as needed */
  }

  footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Creates 5 equal-width columns */
    gap: 20px; /* Adds 20 pixels of gap between grid items */
  }
  .grid-item {
    padding: 10px;
    text-align: center;
  }

  @media screen and (max-width: 768px) {
    .kp{
      width: 50vw;
      margin-left: 30vw;
    }
    .nav{
      word-spacing: 3px;
     font-size: medium;
    }
  }
    </style>